h1 {color: darkred;
	text-align: initial;
	}
ul{color:black;
}

h2 {color: darkred;
}
p{color: white;
	text-align: justify;
}

#imagem-03{width: 100%;
			}
#imagem-04{width: 100%;
			}
#imagem-05{width: 100%;
			}
#imagem-06{width: 100%;
			}
#imagem-07{width: 100%;
			}
#imagem-08{width: 100%;
			}
#imagem-09{width: 100%;
			}
#imagem-10{width: 100%;
			}
#imagem-11{width: 100%;
			}